<h1>Search for a Merchant by Name</h1>

<div id="search-form">
  <%= form_tag search_path, :method => 'get' do %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="search-result">
  <% if @facade %>
    <h2>Results</h2>
    <ul>
      <li>Merchant Name: <%= @facade.name %></li>
    </ul>
  <% end %>
</div>