<h1>Item Info:</h1>

<div id="item_info">
  <ul>
    <li>Name: <%= @facade.name %></li>
    <li>Description: <%= @facade.description %></li>
    <li>Unit Price: <%= @facade.unit_price %></li>
  </ul>
</div>